

#explore 
  td, th
    width 50% 
    
  strong 
    color #85937A
    
.CodeMirror 
  font-size 11px 
  
.CodeMirror
  background #FFF 
  border none 
  border 1px solid #DDD 
  border-bottom none
  border-top none
  
.btn-run 
  margin-top 7px 
  
.prefixes-area 
  padding 4px
  font-size 11px 
  font-family monospace
  background #FFF 
  cursor pointer
  white-space nowrap
  line-height 1em  
  border-bottom none 
  overflow-x scroll
  border 1px solid #DDD 
  border-bottom none 
  
.prefix 
  color #DE5C4F 
.uri 
  color #3E94AF 