mixin sparqlTable(data)
  table.table 
    thead 
      tr 
        th(ng-repeat="col in #{data}.head.vars") {{col}}
    tbody 
      tr(ng-repeat="row in #{data}.results.bindings")
        td(ng-repeat="col in #{data}.head.vars") 
          span(sparql-value="row[col]") 



.store-index

  ul.breadcrumb
    li
      a(href="#/") open
    li.divider /
    li.active {{ port }}


  .content.row 
    .span4
      form.well
        .tabbable.tabs-below
          .tab-content
            .prefixes(ng-controller="app.PrefixesCtrl") 
              .prefixes-area(disabled, data-toggle="modal", data-target="#modal-prefixes") 
                div(ng-repeat="(prefix, uri) in prefixes") 
                  |PREFIX 
                  span.prefix {{prefix}}
                  |: <
                  span.uri {{uri}}
                  |>
              #modal-prefixes.modal.fade.hide 
                .modal-header 
                  p Edit prefixes
                .modal-body 
                  div.add-prefix
                    form(name="add-prefix")
                      input.span1(type="text", ng-model="newPrefix", required, placeholder="prefix")
                      .input-append
                        input.span4(type="text", ng-model="newURI", required, placeholder="uri")
                        button.btn.btn-primary(ng-click="addNewPrefix(newPrefix, newURI)") 
                          span.icon-plus.icon-white
                  hr
                  div(ng-repeat="(prefix, uri) in prefixes")
                    input.span1(type="text", value="{{prefix}}")
                    .input-append
                      input.span4(type="text", value="{{uri}}")
                      button.btn.btn-success 
                        span.icon-ok-sign.icon-white
                      button.btn.btn-danger 
                        span.icon-remove.icon-white
            .query 
              textarea.sparql-query {{defaultQuery}}
              




          ul.nav.nav-tabs
            li.active: a(href="#", ng-click="changeQuery('get')") query 
            li: a(href="#", ng-click="changeQuery('post')") update
            li.pull-right 
              span
                button.btn.btn-small.btn-success.btn-run(ng-click="run()") run
          p {{method}}
    .span8
      ul.nav.nav-tabs#tabs-results
        li.active: a(href="#results", data-toggle="tab") results
        li.disabled: a(href="#explore", data-toggle="tab") explore

      .tab-content
        .tab-pane#results.active
          .no-results(ng-hide="results") no results 
          .results(ng-show="results")
            mixin sparqlTable("results")

        .tab-pane#explore
          .po(ng-show="po.results.bindings.length > 0")
            strong {{s}} as subject
            mixin sparqlTable("po")
          .so(ng-show="so.results.bindings.length > 0")
            strong {{s}} as predicate
            mixin sparqlTable("so")
          .sp(ng-show="sp.results.bindings.length > 0")
            strong {{s}} as object
            mixin sparqlTable("sp")
